.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 50px auto 0 auto;
  grid-gap: 1.5rem;
  justify-content: center;
  align-items: center;

  width: 1075px;
}

.title {
  width: 1075px;
  margin: 15px auto 0 auto;
  padding: 20px;
  text-align: center;
  color: #6900ff;

  border-bottom: 1px solid #202020;
  font-size: 30px;
}

.title h2 {
  font-family: "Metal Mania", cursive;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #6900ff, #8926d4);
  border-radius: 3px;
}
